@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

a {
	text-decoration: none;
	color: #fff;
}

.home-btn {
	font-size: 40px;
	width: 82px; 
	color: #000000;  
	margin-left: 10px;
	margin-top: 10px;
	padding: 10px 20px; 
	border: none;  
	border-radius: 30px;
	cursor: pointer; 
	text-decoration: none;
	transition: text-shadow 0.1s ease-in-out;

}

.home-btn:hover {
	text-decoration: none;
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

li::marker {
    content: none; 
}

body {
    background: url(https://gifdb.com/images/high/black-background-glitch-tuning-p8257c9synzrwsl7.webp) no-repeat center center fixed;
    background-size: cover;
    /* background-color: #9fa0ff; */
    font-family: "Share Tech Mono", monospace !important;
    color: #ffffff;
	text-shadow: 0 0 10px #ffffff;
    margin: 0;
    padding: 0;
    
}

p {
    margin-left: 120px;
    width:18em;
    text-align:justify;
    }

p:after {/* this adds an extra invisible line, so any other line is justified */
    content:'';
    display:inline-block;
    width:100%;
    vertical-align:top;
    }

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.content {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.img-team img {
    position: relative;
    margin-left: -100px;
    margin-top: 17.7px;
    max-width: 100%;
    height: auto;

}

.origin-story:after {
    content: '';
    display: inline-block;
    width: 100%;
    vertical-align: top;
}




@media screen and (max-width: 640px) {

    html, body {
        overflow-x: hidden;
    }

    .content {
        flex-direction: column;
        align-items: center;
        margin-top: -65px;
    }
    .img-team {
        margin-left: 0;
        margin-right: -210px;
        margin-bottom: 20px;
        margin-top: -20px;
        width: 250px;
    }
    .origin-story {
        width: 100%;
        margin-left: 1px;
    }
}

