@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
    background-color: #9fa0ff;
    font-family: "Share Tech Mono", monospace !important;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
}

p {
    margin-left: 120px;
    width:18em;
    text-align:justify;
    }

p:after {/* this adds an extra invisible line, so any other line is justified */
    content:'';
    display:inline-block;
    width:100%;
    vertical-align:top;
    }

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.content {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.img-team img {
    position: relative;
    margin-left: -100px;
    margin-top: 17.7px;
    max-width: 100%;
    height: auto;

}

.origin-story:after {
    content: '';
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

a {
    text-decoration: none;
    color: #9fa0ff;
}

.home-btn {
    font-size: 40px;
    width: 82px;
    background-color: black;
    color: #9fa0ff;
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.home-btn:hover {
    background-color: #ffffff;
    color: #9fa0ff;
    text-decoration: none;
}

@media screen and (max-width: 640px) {
    .content {
        flex-direction: column;
        align-items: center;
    }
    .img-team {
        margin-left: 0;
        margin-right: -210px;
        width: 250px;
    }
    .origin-story {
        width: 100%;
        margin-left: 1px;
        
    }
}
